<header>
  <img 
    src="http://lorempixel.com.br/130/130" 
    alt="Foto de perfil"
    loading="eager"
  >
  <h1>Josué Gutilla</h1>
</header>

<!-- aside da continuidade ao header -->
<aside >
  <div class="container"> 
    <p>Front-End HTML5 | CSS3 | Javacript | Angular</p>
    <p>Palhoça, Santa Catarina, Brasil</p>
    <p>Estou na área de desenvolvimento de software a mais de 1 ano. Devido isso resolvi abraçar a <br>stack JS pois atua no Frontend / Backend.</p>
    
    <nav>
      <ul>
        <li>
          <a href="https://www.google.com/" target="_blank" class="btn btn-primary">Download Cv</a>
        </li>
        <li>
          <a href="https://www.google.com/" target="_blank" class="btn btn-secondary">LinkedIn</a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img src="../../../../../assets/whatsapp.svg" width="22px" height="24px" alt="Logo do whatsapp">
    
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5548xxxxxxxxx&text=01%c3%A1%20Josue, %20preciso%20de%20um%20job!" target="_blank"><strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (48) x xxxx-xxxx</p>
          </a>
        </figcaption>
      </figure>
    
      <figure>
        <img src="../../../../../assets/envelope-regular.svg" width="22px" height="24px" alt="Logo do e-mail">
    
        <figcaption>
          <a href="mailto:gutillaj@gmail.com" target="_blank"><strong>Envie um e-mail para:</strong>
            <p>gutillaj&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div> 
</aside>

