:root {
  --blue-dark: #0d3b66;
  --purple-dark: #3d348b;
  --purple-02: #7678ed;
  --yellow: #ffba49;
  --orange: #d95d39;
  --white: #ffffff;
  --black-dark: #10101a;
  --black02: #2a2a30;
  --gray: #9b9ba0;
}